# Data — never commit these
data/
*.csv
*.json.gz

# Python
venv/
__pycache__/
*.pyc

# Secrets
.env
*.pem
credentials.json

# OS
.DS_Store

# Editor
.vscode/
.idea/

# Terraform (later, but add now so you can't forget)
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl
.build/

# dbt
target/
dbt_packages/
logs/

# Notebooks
.ipynb_checkpoints/
tfplan
*.tfplan
destroyplan
plan.txt
